{% extends "base.html" %}

{% block content %}

<section class=" form-signin w-100 m-auto">
	<h4 class = "text-center">To make your portfolio. please share some info with us!</h4>
	<form action="/portfolio" method="post" enctype="multipart/form-data">
		
		<div class="form-floating ">
			<input type="text" class="form-control" id="fname" name="fname" placeholder="First Name" required>
			<input type="text" class="form-control"  id="lname" name="lname" placeholder = "Last Name" required>
			<input type="email" class="form-control"  id="email" name="email" placeholder = "Enter your email"  required>
			<input type="text" class = "form-control"  id="experience" name="experience" placeholder = "Enter on previous work expierience"  required>
			<input type="text" class = "form-control"  id="education" name="education" placeholder = "Enter your lastest education"  required>
			<input type="text" class="form-control"  id="summary" name="summary" placeholder = "Enter a Summary"  required>
			<input type="text" class = "form-control"  id="hobby" name="hobby" placeholder = "Enter a hobby" required>
			<input type="text" class = "form-control" id = "impression" name = "impression" placeholder = "Enter the embed for a location on google maps" required>
			<input type="text" class = "form-control"  id="song" name="song" placeholder = "Enter the embed for a song on spotify" required>
			<div class = "input-group">
				<div class = "input-group-prepend">
					<span class = "input-group-text" id="inputGroupFileAddon01">Upload</span>
				</div>
				<div class = "custom-file">
					<input type="file" class = "text-start custom-file-input"  id="picture" name="picture" accept="image/png, image/jpeg, image/gif, image/svg" placeholder = "Upload a photo of yourself"  required>
					<label class = "custom-file-label" for="picture">Upload an image of yourself</label>
				</div>
			</div>
			<input type = "text" class = "form-control"  id="platform" name = "platform" placeholder = "Enter a link to your linkedin or other media"  required>
			
			<div class = "text-center">
				<input class = " mt-3 btn btn-primary" type="submit" value="Submit">
			</div>


		</div>
	</form>
</section>

{% endblock %}
