{% extends "base.html" %}

{% block content %}

<section class = "nav-bar">
	<div class="container-fluid row">
      <div class="text-sm-start col-sm-6 pt-5">
        <h1 class="title">Hi! I'm Joaquin, or Joe for short</h1>
        <p class="description">I am a computer science student at UFV and a aspiring software engineer. Learning full-stack/front-end development right now, but hope to do back-end one day!</p>
        <a href="https://www.linkedin.com/in/joaquin-cisneros-271256225/" class="icon-button btn special-btn" title="linkedin account" aria-label="linkedin"><i class="fa-brands fa-linkedin fa-2xl"></i></a>
        <a href="https://github.com/Schorcher5?tab=stars" class="btn icon-button special-btn" title="github account" aria-label="github"><i class="fa-brands fa-github fa-2xl"></i></a>
        <a href="https://devpost.com/Schorcher5?ref_content=user-portfolio&ref_feature=portfolio&ref_medium=global-nav" class="btn icon-button special-btn" title="devpost account" aria-label="devpost"><i class="fa-solid fa-code fa-xl"></i></a>
        <a href="https://leetcode.com/JoaquinCisneros/" class="btn icon-button special-btn" title="leetcode account" aria-label="leetcode"><img class="fa-solid ic-leetcode" src="./images/leetcode.png" alt="leetcode logo"></a>
        <div class="resume-btn">
          <a href="https://drive.google.com/file/d/19W-_uOhtsQ-MD7AQiO6dFIU91ON-t44n/view?usp=sharing" class="btn"><i class="fa-solid fa-file fa-xl"></i> Check out my resume</a>
        </div>
      </div>
      <div class="home-gif col-sm-6">
        <img src="images/first.gif" alt="Gif a person programming">
      </div>
    </div>
</section>

{% endblock %}
