{% extends "base.html" %}

{% block content %}

<section class = "gradient-background promo text-white pt-5">

	<h1>Welcome to our portfolio sites!</h1>
	<div class="container-fluid row">
      <div class="col-sm-6 text-sm-start">
        <h1 class="title">Joaquin Cisneros</h1>
	<p class="pt-3">I am a computer science student at UFV and a aspiring software engineer. Learning full-stack/front-end development right now, but hope to do back-end one day!</p>
	<a href = "/joaquin" class = "btn text-white" title = "personal site" aria-label = "Joaquin's site">Check out my site >></a>
      </div>
      <div class="col-sm-6 text-sm-end">
        <h1 class="title">Karl Hernandez</h1>
	<p class="pt-3">I am a computer science student at UFV and a aspiring software engineer. Learning full-stack/front-end development right now, but hope to do back-end one day!</p>
	<a href = "/karl" class = "btn text-white" title = "personal site" aria-label = "Karl's site">Check out my site >></a>
      </div>
    </div>
</section>

<section class="text-secondary">
    <div class="container-fluid">
	    <h1> or... </h1> 
    </div>
 </section>

<section class = "gradient-background promo text-white pt-5">

	<h1>Check out our portfolio builder!</h1>
	<div class="container-fluid">
		<h3>We have set up everything so you don't have to do any work!</h3>
		<p>Just click on the button below to be taken to a form that you will have to fill out. Once that's done, hit the submit button to generate your site, free of charge!</p>
      		<a href = "/form" class = "btn text-white" title = "portfolio builder link" aria-label = "Karl's site">Get building!>></a>
    	</div>
</section>

{% endblock %}
