{% extends "base.html" %}

{% block content %}

<section class = "container-fluid gradient-background promo text-white row text-start">
	<div class = "col-sm-6 pl-sm-5 ">
		<h1 class ="title">{{fname}} {{lname}}</h1>
		<h3>Who I am</h3>
		<div id="summary-content"></div>
		<script>
			document.getElementById('summary-content').innerHTML = marked.parse("{{summary}}");
		</script>
	</div>
	<div class = "col-sm-6 pr-sm-5 ">
		<img class = "img-fluid mw-100 rounded-5 border border-secondary"  src="/static/img/{{pic_path}}" />
	</div>


</section>


<section class = "container-fluid row text-start text-secondary">
	<div class ="col-sm-6 pl-sm-5">
		<h2 class = "title">Work Experience</h2>
		<ul>
			{% for work in experience%}
			<li>{{work}}</li>
			{% endfor %}
		</ul>
	</div>
	<div class = "col-sm-6 pr-sm-5 text-sm-end">
		<img class = "img-fluid mw-100  rounded" src = "/static/img/breifcase.png" />
	</div>

</section>


<section class = "container-fluid gradient-background promo text-white row text-start">
	<div class = "col-sm-6 pl-sm-5">
		<h2 class = "title">Education</h2>

			{% for edu in education%}
			<p class = "description">{{edu}}</p>
			{% endfor %}
	</div>
	<div class = "col-sm-6 pr-sm-5 text-sm-end">
		<img class = "img-fluid mw-100 rounded" src = "/static/img/graduate.png" />
	</div>
</section>


<section class = "text-secondary container-fluid row text-start">
	<div class = "col-sm-6 pl-sm-5">
		<h2 class = "title">Here is a place I've visited before</h2>
		<img class = "img-fluid pt-3 mw-100 rounded" src = "/static/img/travelBlue.png" />
	</div>
	<div class="map col-sm-6 pr-sm-5">
	<iframe class = "img-fluid"
	  width="450"
	  height="250"
	  frameborder="0" style="border:0"
	  referrerpolicy="no-referrer-when-downgrade"
	  src="{{query}}"
	  allowfullscreen>
	</iframe>
		
	</div>

</section>


<section class = "container-fluid gradient-background promo text-white row text-start">
	<div class = "col-sm-6 pl-sm-5">
		<h2 class ="title">Here is my resume:</h2>
		<img class = "img-fluid pt-3 mw-100 rounded" src = "/static/img/music.png">
	</div>
	<div class = "col-sm-6 pr-sm-5">
	<iframe class = "img-fluid"
	  frameborder="0"
	  scrolling="no"
	  width="640"
	  height="480"
	src="/static/img/{{resume_path}}" 
	>
	</iframe>
	</div>
</section>


<section class = "container-fluid row text-start text-secondary">
	<div class = "col-sm-6 px-5 mt-5 pt-5 text-sm-start">
		<h3>Reach out to me at</h3>
		<p>{{platform}}</p>
		<p>{{email}}</p>
	</div>
	<div class = "col-sm-6 px-5 text-sm-center">
		<img class = "img-fluid mw-100 rounded m-5 p-5" src = "/static/img/contact.png" />
	</div>
</section>

<script>
	const allIFrames = document.getElementsByTagName("iframe");
	for(var i =0; i<allIFrames.length; i++){
		allIFrames[i].classList.add("img-fluid");
	};


</script>


{% endblock %}
